// Place all the styles related to the accueil controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "include/base"
div#btn-create-project
    @include sassy-button($sb-gradient-style, 0, $base-font-size, #a7bf35, #a7bf35)
    margin: 0 em(5px)
    a
        text-decoration: none
        color: $linkColor